*{
  margin: 0;
  padding: 0;
  color: white;
  font-size: 15px;
}
header{
  width: 100%;
  margin: auto;
}

body {
  background-color: rgb(30, 20, 30);
  color: white;
  font-family: courier;
  font-size: 20px;
  line-height: 1.5;
}

h1 {
  font-size: 24px;
  margin: 2rem;
  font-weight: bold;
}

h1::first-letter {
  font-size: 50px;
  color: lightpink;
}

a {
  color: white;
  font-size: 20px;
  border: transparent 1px solid;
  transition: font-size 0.7s ease-in-out;
  margin-left: 20px;
  display: inline-block;
}
.nolmargin{
  margin-left: 0px;
}
.normargin{
  margin-right: 0px;
}
.notmargin{
  margin-top: 0px;
}
.nobmargin{
  margin-bottom: 0px;
}
.no-margin{
  margin: 0px;
}
a:hover {
  color: lightpink;
  font-size: 30px;
  border: purple 1px solid;
  transition: font-size 0.3s ease-in-out;
}

ul {
  margin-left: 20px;
  list-style: none;
}
.container-mid{
  display: flex;
  width: 95%;
  height: auto;
  background-color: transparent;
  border: transparent solid 1px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  padding: 1rem;
}
.container-halfen{
  width: 40%;
  height: auto;
  background-color: rgb(60, 40, 60);
  border: transparent solid 1px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  padding: 1rem;
}
.container-third{
  width: 30%;
  height: auto;
  background-color: rgb(60, 40, 60);
  border: transparent solid 1px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  padding: 1rem;
  aspect-ratio: 3 / 4 !important;
}
.container-cus1{
  width: 80%;
  height: auto;
  background-color: rgb(60, 40, 60);
  border: transparent solid 1px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  padding: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

th, td {
  padding: 3px;
  border: 1px solid rgba(255,200,255,0.75);
  text-align: left;
  vertical-align: top;
  width: auto;
}

th{
  background-color: black;
  color: white;
}

td {
  background-color: transparent;
}

option{
  background-color: transparent;
}

input, select, button, textarea{  
  background-color: black;
  color: white;
  padding:3px;
  border: 1px solid white;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  margin: 5px;
}
textarea{
  width: 90%;
  resize: vertical;
}

input[type=text]:active{
  width: 25%;
}

input:hover, select:hover, button:hover{
  background-color: rgb(60, 40, 60);
}

.divider{
  background-color: black;
  border: black 1px solid;
}
.container{
  width: 60%;
  padding: 10px;
  margin-left: 2rem;
}
.coolhr{
  margin: auto;
  margin-top: 1rem;
  margin-bottom:1rem;
  width: 95%;
  border: 1px solid transparent;
  border-radius: 100%;
  height: 3px;
  background-image: linear-gradient(to right
  , rgba(0,0,0,0)
  , rgba(60, 40, 60, .5)
  , rgba(255, 175, 255, .75)
  , rgba(255, 255, 255, 1)
  , rgba(255, 175, 255, .75)
  , rgba(60, 40, 60, .5)
  , rgba(0,0,0,0));
}







































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































